name: Synchronize to forked repo
on:
  push:
    branches:
      - main
jobs:
  sync:
    name: Sync forked repo
    runs-on: ubuntu-latest

    steps:
      - name: Checkout develop
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.AUTO_ACTIONS }}
          fetch-depth: 0
          ref: develop
          
      - name: Add remote-url
        run: |
          git remote add forked-repo https://leejin-rho:${{ secrets.AUTO_ACTIONS }}@github.com/leejin-rho/DURI-FE
          git config user.name leejin-rho
          git config user.email ${{ secrets.EMAIL }}

      - name: Push changes to forked-repo
        run: |
          git push -f forked-repo main

      - name: Clean up
        run: |
          git remote remove forked-repo
